[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "==10.4"
nostr = "==0.0.2"
secp256k1 = "==0.14.0"
rel = "==0.4.8"

[dev-packages]

[requires]
python_version = "3.10"
